body {
    font-size: 16px;
}
h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
    background-color: darkgrey;
}
p {
    font-style: italic;
    line-height: 48px;
    text-align: center;
    font-weight: 600;
    font-size: 3em;
}
.bg-color {
    background-color: darkgrey;
    text-decoration: lightgray;
}